{% extends 'base.html' %}

{% block title %}
Administrar | Empleados
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Modificar datos del empleado</h1>
        <div class="cell">
            <form class="grid-x grid-margin-x" method="POST">{% csrf_token %}
                <div class="medium-6 cell">
                    <label>Nombres:
                        {{ form.first_name}}
                    </label>
                </div>

                <div class="medium-6 cell">
                    <label>Apellidos:
                        {{ form.last_name}}
                    </label>
                </div>


                <div class="medium-6 cell">
                    <label>Departamento:
                        {{ form.departamento}}
                    </label>
                </div>

               
                <div class="medium-12 cell">
                    <button class="hollow button success" type="submit">Actualizar</button>
                </div>

            </form>
        </div>
    </div>
</div>


{% endblock content %}