<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Version 4.0</li>
            <li><a href=" {% url 'persona_app:inicio' %} ">Inicio</a></li>
            <li><a href=" {% url 'persona_app:empleados_all' %} ">Normativa Legal Vigente</a></li>
            <li><a href="{% url 'departamento_app:departamento_list' %}">Docencia</a></li>
            <li><a href="{% url 'persona_app:empleados_admin' %}">Gestión</a></li>
            <li><a href="{% url 'departamento_app:nuevo_departamento' %}">Vinculación con la Sociedad</a></li>
            <li><a href="{% url 'departamento_app:nuevo_departamento' %}">Investigación</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><input type="search" placeholder="Buscar Empleado"></li>
            <li><a href="{% url 'persona_app:create_empleado' %}" type="button" class="button">Registrar nuevo</a></li>
        </ul>
    </div>
</div>